---
layout: default
---
<meta http-equiv='cache-control' content='no-cache'> 
<meta http-equiv='expires' content='0'> 
<meta http-equiv='pragma' content='no-cache'>

{% assign data = site.data.data %}

{% if site.open %}

<div class="wrapper">

    {% include header.html%}
    {% include profile.html %}
    {% include experiences.html %}
    {% include projects.html %}
    {% include skills.html %}
    {% include education.html %}
    {% include language.html %}
    {% include interests.html %}
    {% include publications.html %}
    {% include evaluation.html %}

</div>

{% include footer.html %}

{% else %}

{% include close.html %}

{% endif %}
